@import url(styles.css);

.grid-carita-feliz {
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
    grid-template-areas: ". . . . . . . . . . . . . . . . . . . ."
                         ". . . . . . . . . . . . . . . . . . . ."
                         ". . . . . ojo-1 . . . . . . . . . . . . . ."
                         ". . . . . ojo-1 . . . . . . . . . . . . . ."
                         ". . . . . ojo-1 . . . . . . . . . . . . . ."
                         ". . . . . . . . . . . . . . . . . . . ."
                         ". . . . . . . . . . . . . . . . . . . ."
                         ". . . . . . . . . . . . . . . . . . . ."
                         ". . . . . . . . . . . . . . . . . . . ."
                         ". . . . . . . . . . . . . . . . . . . ."
                         ". . . . . . . . . . . . . . . . . . . ."
                         ". . . . . . . . . . . . . . . . . . . ."
                         ". . . . . . . . . . . . . . . . . . . ."
                         ". . . . . . . . . . . . . . . . . . . ."
                         ". . . . . . . . . . . . . . . . . . . ."
                         ". . . . . . . . . . . . . . . . . . . ."
                         ". . . . . . . . . . . . . . . . . . . ."
                         ". . . . . . . . . . . . . . . . . . . ."
                         ". . . . . . . . . . . . . . . . . . . ."
                         ". . . . . . . . . . . . . . . . . . . .";
}

.ojo-1 {
    grid-area: ojo-1;
    background-color: black;
}