@import url(styles.css);

.grid-carita-feliz {
            display: grid;
            grid-template-rows: repeat(20, 20px);
            grid-template-columns: repeat(20, 20px);
            grid-template-areas:
                ". . . . . . . . . . . . . . . . . . . ."
                ". . . . . . . . . . . . . . . . . . . ."
                ". . . . . . . . . . . . . . . . . . . ."
                ". . . . . . . . . . . . ojo-1 . . ojo-2 . . . ."
                ". . . . . . . . . . . . ojo-1 . . ojo-2 . . . ."
                ". . . . . . . . . . . . ojo-1 . . ojo-2 . . . ."
                ". . . . . . . . . . . . . . . . . . . ."
                ". . . . . . . . . . . . . . nariz . . . . ."
                ". . . . . . . . . . . . . . nariz . . . . ."
                ". . . . . . . . . . . . . . . . . . . ."
                ". . . . . . . . . . . . . . . . . . . ."
                ". . . . . . . . . . . . . . . . . . . ."
                ". . . . . . . . . . . . . . . . . . . ."
                ". . . . . . . . . . . . . . . . . . . ."
                ". . . . . . . . . . . . . . . . . . . ."
                ". . . . . . . . . . . . . . . . . . . ."
                ". . . . . . . . . . . . . . . . . . . ."
                ". . . . . . . . . . . . . . . . . . . ."
                ". . . . . . . . . . . . . . . . . . . ."
                ". . . . . . . . . . . . . . . . . . . .";
        }

        .ojo-1 {
            grid-area: ojo-1;
            background-color: black;
        }
        .ojo-2 {
            grid-area: ojo-2;
            background-color: black;
        }
        .nariz {
            grid-area: nariz;
            background-color: black;
        }
        