@import url(styles.css);

.grid-flujo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 150px);

    grid-auto-flow: row;
    grid-auto-rows: 100px;
    grid-auto-flow: dense; /* Flujo denso*/
    grid-auto-columns: 450px;
}