@import url(styles.css);

.flujo-denso {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 200px);
    grid-auto-flow: row dense;
    /*grid-auto-flow: column;*/
    grid-auto-rows: 200px;
}

.item:nth-child(9) {
    background-color: green;
    grid-row: span 3;
    grid-column: span 3;
}

.item:nth-child(10) {
    background-color: violet;
    grid-row: span 3;
    grid-column: span 3;
}

.item:nth-child(11) {
    background-color: firebrick;
    grid-row: span 3;
    grid-column: span 3;
}