@import url(styles.css);

.grid-capas-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

.item:nth-child(1) {
    background-color: salmon;
}

.item:nth-child(2) {
    background-color: fuchsia;
}

.item:nth-child(3) {
    background-color: orange;
}

.item:nth-child(4) {
    background-color: purple;
}
