@import url(styles.css);


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    height: var(--height);
    width: var(--width);
}

.item {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}