@import url(styles.css);

.grid_explicito {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(1fr);
    grid-template-columns: 300px repeat(3 2fr) 200px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-rows: repeat(1fr);
}